

.App-header {
  background-color: #365696;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.card{
  border: 0.5px;
  border-style: solid;
  border-color: black;
  margin-top: 50px;
}

.card-body{
  border: 0.5px;
  border-style: solid;
  border-color: black;
  background-color: tomato;
}

.list-group-flush list-group {
  border: 0.5px;
  border-style: solid;
  border-color: black;
}

.card-img-top {
  width: 286px;
  height: 180px;

}


